body {
  background-image: url("../../images/leaguebg2.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

.search {
  font-family: "Julius Sans One", sans-serif;
  color: #937341;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  line-height: 1;
  width: 240px;
  border: none;
  padding: 23px 0;
  position: relative;
  background: linear-gradient(to bottom, #ecc572 0, #815500 100%);
  z-index: 1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
  outline: none !important;
  margin-top: 25%;
  display: block;
  margin: auto;
  text-align: center;
  width: 50%;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.search:after {
  content: "";
  background: #ecc572;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.search:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.search:active {
  outline: none;
  background: linear-gradient(to bottom, #ecc572 0, #815500 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
}

.goldlogo {
  -webkit-transform: scale(1.2);
  display: block;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 100px;
  box-sizing: inherit;
  font-size: inherit;
}

@media only screen and (max-width: 600px) {
  .goldlogo {
    margin-top: 200px;
    -webkit-transform: scale(2.5);
  }
}

.searchName {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  border: none;
  border-bottom: 1px solid #7e633b;
  display: block;
  font-size: 3rem;
  margin: auto;
  padding: 4px 0;
  width: 50%;
  background: 0 0;
  text-align: left;
  outline: 0;
  color: #c4b998;
  font-size: 2.5rem;
  line-height: normal;
}

.searchName:after::before {
  box-sizing: inherit;
}
.text {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-size: 3rem;
  display: inline-block;
  width: 430px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.test {
  color: #c4b998;
  margin: auto;
  width: 50%;
}
.logo {
  -webkit-transform: scale(0.8);
  position: absolute;
  left: 10px;
  top: -20px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-top: 100px;
    -webkit-transform: scale(0.5);
  }
}
